.position-href{
    color: #36486b;
}

body{
    overflow-x: hidden;
    background-image: url("/resources/images/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

#backimage{
    position: relative;
    left: 250px;
    padding: 15px;
    width: 1200px;
    border-radius: 20px;
    background: rgba(191, 194, 176, 0.7);
}