thead {
    background: #80ced6;
}

.position-table {
    position: relative;
    margin: 20px;
    width: 1300px;
}

.select-option {
    position: relative;
    margin-bottom: 8px;
}

.search-input {
    position: relative;
    margin-bottom: 8px;
    width: 200px;
}
